@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-ubuntu: "Ubuntu", "Arial", system-ui, sans-serif;
    --font-jb: "JetBrains Mono", monospace;
}

:root {
    /* Basic theming */
    color-scheme: light only;
    color: #202020;
    background-color: #202020;
    font-family: "Ubuntu", "Arial", system-ui, sans-serif;

    /* Optimize font for UX */
    font-synthesis: none;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
